@import "tailwindcss";


html {
  scroll-behavior: smooth;
}

body {
  color: #fff;
}

:root {
  --c-950: #1c0126;
  --c-900: #370546;
  --c-800: #4f0966;
  --c-700: #700f94;
  --c-600: #921db7;
  --c-400: #c464ec;

  --highlight: #facc15;
  --highlight-hover: #d4aa00;

  --neutral: #6e6a77;
  --neutral-dark: #302937;
  --neutral-light: #d1d5db;
}

:root {
  --bg-page: var(--c-950);

  --text-primary: var(--c-900);
  --text-secondary: var(--neutral);

  --border-default: var(--neutral-light);

  --brand-main: var(--c-700);
  --brand-hover: var(--c-600);
}

@keyframes float {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-40px);
  }
}

@layer components {
  .menu-link {
    @apply relative inline-block;
  }

  .menu-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -0.25rem;
    width: 100%;
    height: 2px;
    background-color: var(--highlight);
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 300ms;
  }

  .menu-link:hover::after {
    transform: scaleX(1);
  }
}